
<h1>Result One</h1>
{{#each results1}}
<ul>
    <li>{{this}}</li>
</ul>
{{/each}}


<h1>Result two</h1>
{{#each results2}}
<ul>
    <li>{{this}}</li>
</ul>
{{/each}}

<h1>For These Days</h1>
{{#each dates}}
<ul>
    <li>{{this}}</li>
</ul>
{{/each}}