body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.chart{
  width: 550px;
  height: 550px;
}
.center {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}
input[type=text]{
  border-radius:10px;
}
input[type=submit]{
  border-radius:10px;
}
#wait{
  display: none;
  color: white;
}
#loader {
  padding-top: 25px;
  text-align: center;
  display: none;
  border: 16px solid #0C0032;
  border-radius: 50%;
  border-top: 16px solid #3500D3;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
html, body{
  background-color: #000000 !important;
}
.searchbox{
  color: #3500D3;
}
.title{
  color: #3500D3;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
